body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 grey;
    max-width: 600px;
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 150px;
}
